<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link rel="stylesheet" type="text/css" href="./fullcalendar/css/style.css">
<link href='./agenda/css/fullcalendar.min.css' rel='stylesheet' />
<link href='./agenda/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">   -->
<script src='./agenda/js/moment.min.js'></script>
<script src='./agenda/js/jquery.min.js'></script>
<script src='./agenda/js/fullcalendar.min.js'></script>
<script src='./agenda/js/locale-all.js'></script>
<!-- <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="./fullcalendar/js/agenda.js"></script>
<script>
	$(document).ready(function() {
		agenda.init();
	});

</script>
</head>
<body>
	<div id='top'>
		Locales:
		<select id='locale-selector'></select>
	</div>
	<div id='calendar'></div>

</body>
</html>
