@charset "utf-8";

/* 语言选择 */
#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
}
/* 日历 */
#calendar {
    margin: 40px auto;
    padding: 0 10px;
}
/* Event 参数 className 的值 */
.done:before {
    content:"【 已完成 】";
    background-color:yellow;
    color:green;
    text-align:center;
    font-weight:bold;
    width:100%;
}
/* Event 参数 className 的值 */
.doing:before {
    content:"【 未完成 】";
    background-color:yellow;
    color:red;
    text-align:center;
    font-weight:bold;
}
