<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"/>
    <title>小乔、流水...</title>
    <meta HTTP-EQUIV="Pragma"   content="no-cache" />
    <meta HTTP-EQUIV="Cache-Control"   content="no-cache" />
    <meta HTTP-EQUIV="Expires"   content="0" />
    <meta name="keywords" content="mBlog,blog"/>
    <meta name="description" content="mblog,记录生活中的点点滴滴。"/>
    <base th:href="${baseUrl}" />
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/about.css}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script th:src="@{/js/modernizr.js}"></script>
    <![endif]-->
    <script th:src="@{/js/scrollReveal.js}"></script>
</head>

<footer th:fragment="footer" >

</footer>
</html>